{# extend the parent tpl #}
{% extends 'Errors/layoutError.twig' %}


{# set the pagetitle in the parent tpl #}
{% set pageTitle = 'lannimmoo :: 404 - File Not Found' %}

{% block pageContent %}
    <div id="error-wrap">
        <div id="error-digits">
            <span class="animated">4</span>
            <span class="animated delay300">0</span>
            <span class="animated delay600">4</span>
        </div>

        <h1>We seem to have misguided you to the wrong page.</h1>
        <h3>{{ error }}</h3>
        <p>The page you're looking for is not found. Maybe you should <a href="{{ path('backend.advertisements.overview') }}">go back home</a></p>
    </div>
{% endblock %}